<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <h2>Unesi podatke za predikciju</h2>
    <form id="predict-form">
        <input type="text" id="param1" placeholder="Parametar 1">
        <input type="text" id="param2" placeholder="Parametar 2">
        <input type="text" id="param3" placeholder="Parametar 3">
        <button type="submit">Predvidi</button>
    </form>
    <div id="result"></div>

    <input type="submit" value="Predict">
    </form>
    </div>
</body>

</html>